<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/pkg/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/common/common.css">
    <script src="../../static/pkg/jquery-3.6.0/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="card" style="width: 18rem;margin: 10vh auto;">
            <img src="../../static/images/finish.gif"card-img-top"
                alt="...">
            <div class="card-body">
                <p>添加学生成功!</p>
                <a href="./index.html">返回管理员首页</a>
            </div>
        </div>
    </div>

    <script src="../../static/pkg/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
</body>

</html>