<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/pkg/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/common/common.css">
    <script src="../../static/pkg/jquery-3.6.0/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="../../static/images/u=3447620769,3504306187&fm=253&fmt=auto&app=120&f=JPEG.webp" class="card-img-top"
                alt="...">
            <div class="card-body">
                <form action="../../controllers/admin/login.php" method="post">
                    <h3>管理员登录页</h3>
                    <div class="form-group">
                        <label for="exampleInputEmail1">管理员账号</label>
                        <input type="text" class="form-control" name="adminName" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" name="adminPasswd" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">登录</button> <a href="../../index.html" class="btn btn-warning">我是学生</a>
                </form>
            </div>
        </div>
    </div>

    <footer class="text-center">
网警备案
    </footer>

    <script src="../../static/pkg/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
</body>

</html>